[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/auto_mkdir"]
	path = vim/bundle/auto_mkdir
	url = git://github.com/DataWraith/auto_mkdir.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = git://github.com/thoughtbot/vim-rspec.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git://github.com/rking/ag.vim
[submodule "vim/bundle/matchtag"]
	path = vim/bundle/matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-wakatime"]
	path = vim/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "vim/bundle/vim-solarized-powerline"]
	path = vim/bundle/vim-solarized-powerline
	url = git@github.com:stephenmckinney/vim-solarized-powerline.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-ctrlspace"]
	path = vim/bundle/vim-ctrlspace
	url = git@github.com:szw/vim-ctrlspace.git
[submodule "vim/bundle/vim-maximizer"]
	path = vim/bundle/vim-maximizer
	url = git@github.com:szw/vim-maximizer.git
[submodule "vim/bundle/nextag"]
	path = vim/bundle/nextag
	url = git@github.com:tejr/nextag.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
